<div class="carousel-container">
  @for (item of carousel; track $index) {
  <div class="carousel-section">
    <h2 class="carousel-title">{{ item.title }}</h2>
    <div
      [id]="'carousel-' + item.title.toLowerCase().replace(' ', '-')"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        @for (image of item.images; track $index) {
        <button
          type="button"
          [attr.data-bs-target]="
            '#carousel-' + item.title.toLowerCase().replace(' ', '-')
          "
          [attr.data-bs-slide-to]="$index"
          [class.active]="$index === 0"
          [attr.aria-current]="$index === 0"
          [attr.aria-label]="'Slide ' + ($index + 1)"
        ></button>
        }
      </div>

      <div class="carousel-inner">
        @for (image of item.images; track $index) {
        <div class="carousel-item" [class.active]="$index === 0">
          <img
            [src]="image.url"
            class="d-block w-100"
            [alt]="image.alt"
            title="img"
          />
        </div>
        }
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        [attr.data-bs-target]="
          '#carousel-' + item.title.toLowerCase().replace(' ', '-')
        "
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        [attr.data-bs-target]="
          '#carousel-' + item.title.toLowerCase().replace(' ', '-')
        "
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="button-container">
      <button
        class="btn btn-primary view-more-btn"
        [routerLink]="item.link || '/information'"
      >
        Ver más información
      </button>
    </div>
  </div>
  }
</div>
